<?xml version="1.0" encoding="utf-8"?>
<config
    addrulepath="/administrator/components/com_csvuploads/config"
>
    <fieldset
        name="folders"
        label="COM_CSVUPLOADS_CONFIG_SETTINGS_LABEL"
        description="COM_CSVUPLOADS_CONFIG_SETTINGS_DESC"
    >
        <field
            name="uploadfolder"
            type="folderlist"
            label="COM_CSVUPLOADS_CONFIG_UPLOAD_FOLDER_LABEL"
            description="COM_CSVUPLOADS_CONFIG_UPLOAD_FOLDER_DESC"
            default=""
        />
        <field
            name="csvfolder"
            type="text"
            label="COM_CSVUPLOADS_CONFIG_CSV_FOLDER_LABEL"
            description="COM_CSVUPLOADS_CONFIG_CSV_FOLDER_DESC"
            default="csv"
            validate="createfolder"
        />
        <field
            name="jsonfolder"
            type="text"
            label="COM_CSVUPLOADS_CONFIG_JSON_FOLDER_LABEL"
            description="COM_CSVUPLOADS_CONFIG_JSON_FOLDER_DESC"
            default="json"
            validate="createfolder"
        />
    </fieldset>
       <fieldset
        name="categories"
        label="COM_CSVUPLOADS_CONFIG_CATEGORIES_LABEL"
    >
        <field
            name="cat_exclude"
            type="text"
            label="COM_CSVUPLOADS_CONFIG_CATEGORIES_EXCLUDE_LABEL"
            description="COM_CSVUPLOADS_CONFIG_CATEGORIES_EXCLUDE_DESC"
            default=""
        />
        <field
            name="cat_depth"
            type="text"
            label="COM_CSVUPLOADS_CONFIG_CATEGORIES_DEPTH_LABEL"
            description="COM_CSVUPLOADS_CONFIG_CATEGORIES_DEPTH_DESC"
            default="*"
        />
    </fieldset>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_csvuploads"
            section="component"
        />
    </fieldset>
</config>